@font-face {
  font-family: Audiowide;
  src: url(../Fonts/Audiowide/Audiowide-Regular.ttf);
}
.container{
  margin: 5% 5%;
  display: flex;
  gap:2%
}
.imagestyles{
  padding-left: 5%;
}
p{
  color: #FFFBFB;
  font-family: Audiowide;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}