@font-face {
  font-family: Audiowide;
  src: url(../Fonts/Audiowide/Audiowide-Regular.ttf);
}
.home-container{
  margin: 5% 3%;
  display: flex;
  gap: 2%;
}
.imagestyles{
  padding-left: 5%;

}
.bodytext{
  color: white;
  background-color: black;
  font-family: Audiowide;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
}