.footer {
    background-color: #333; 
    color: #fff; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height:30px;
    text-align: center; 
    padding: 10px;
  }
.container {
    margin-top: auto;
    height: 30px;
    width: 100%;
    text-align: center;
}
  
.social-icons {
    margin-bottom: 10px;
}
.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.2s;
}
.social-icons a:hover {
    color: #007bff;
}
p {
    margin: 0;
    font-size: 16px;
    color: #fff;
    font-weight: bold; 
    margin-top: 10px; 
  }