.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.right {
    flex-basis: 30%;
    text-align: right;
}
.right .social-icons {
    margin-top: 10px;
}
.right .social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s;
}
.right .social-icons a:hover {
    color: #007bff;
}
.right .subscription {
    margin-top: 10px;
}
.right .subscription button {
    background-color:whitesmoke;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: right;
    width: 100px;
}
.right .subscription button:hover {
    background-color: #06192d;
}
p {
    margin: 0;
    font-size: 16px;
    color: #fff;
    font-weight: bold; 
    margin-top: 10px; 
}
.left {
    text-align: left;
    flex-basis: 30%;
    margin: 5px 0;
    font-size: 8px;
    font-style: italic;
}
@media (max-width: 768px) {
    .left,
    .p,
    .right {
flex-basis: 100%;
text-align: center;
    }
}