@font-face {
  font-family: Annie_Use_Your_Telescope;
  src: url("D:\Desktop\intern_proj\Photo-app\Client\src\Components\Fonts\Annie_Use_Your_Telescope\AnnieUseYourTelescope-Regular - Copy.ttf");
}
form{
    background-color: white;
    margin:10px;
    padding: 0;;
    width:600px;
    height:680px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}
.form-div{
  background-color: white;
  margin-left: 10px;
  
}
.form-align{
  float: right;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enquiry-form {
    background-color:transparent;
    color: black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 48px;
    font-style:normal;
    font-weight: 400;
    text-decoration: none;
  }
  h1{
    background-color: white;
  }
  
  .label {
    background-color: rgb(255, 255, 255);
    height: auto;
    text-align: left;
    line-height: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
.box{
    background-color:whitesmoke;
    width: 516px;
    height: 50px;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    overflow: hidden;
}
.msg{background-color: whitesmoke ;
    width: 516px;
    height: 205px;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    overflow: hidden;

}
  
  button[type="submit"] {
    background-color: purple;
  
    color: white;
    border: black;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #7b1fa2; /* Darker purple on hover */
  }
  