@font-face {
  font-family: Annie_Use_Your_Telescope;
  src: url("../../Components/Fonts/Annie_Use_Your_Telescope/AnnieUseYourTelescope-Regular\ -\ Copy.ttf");
}
form{
    background-color: white;
    margin-top: 20px auto;
    padding: 10;
    width:500px;
    height:570px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid #000;
    z-index: 3;
}



.form-align{
  background-color: transparent;
  position: absolute;
  
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enquiry-form {
    background-color:white;
    color: black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 48px;
    font-style:normal;
    font-weight: 400;
    text-decoration: none;
  }
  h1{
    background-color: white;
  }
  
  .label {
    background-color: rgb(255, 255, 255);
    height: auto;
    text-align: left;
    line-height: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
.box{
    background-color:whitesmoke;
    width: 516px;
    height: 50px;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    overflow: hidden;
}
.msg{background-color: whitesmoke ;
    width: 516px;
    height: 100px;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    overflow: hidden;

}
  
  button[type="submit"] {
    background-color: purple;
  
    color: white;
    border: black;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #7b1fa2; /* Darker purple on hover */
  }
  